

body {
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
    
}
body:before {
    content: '';
    display: inline-block;
    width: 0; height: 100%;
    vertical-align: middle;
}

.pagination {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    padding: 1px 2px 4px 2px;

 }
.pagination a, .pagination i {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 12px;
    padding: 11px 0 11px 0;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
         -o-user-select:none;
            user-select:none;
}

.pagination a {
    margin:  2px;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: #FFF;
}
.pagination a:hover {
    background-color: rgba(255, 107, 1, 0.6);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }



.pagination i {
    margin: 0 3px 0 3px;
}
.pagination a.current {
    border-left: 1px solid #ff6b08;
    color: #fff;
   
    background-color: #ff6b08;
}
.pag-btn {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background: #f7f7f7;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 5px;
    background-image: url(../images/svg/arrow-left.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.pagination a.pag-btn:hover {
   
    background-color: #f7f7f7;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.pag-btn-next {
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: #f7f7f7;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 5px;
    background-image: url(../images/svg/arrow-left.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.pagination a.pag-btn-next:hover {
    background-color: #f7f7f7;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}